.login {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    text-align: center;
}
.login h1 {
    text-align: center;
    color: #F96A6A;
    font-size: 32px;
    margin-bottom: 24px;    
}

.login .field-wrapper {
    margin-bottom: 16px;
}

.login .error {
    color: #F96A6A;
    font-size: 12px;
    margin-bottom: 24px;
}